body {
  background :url(/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: 50% 50%;
}


//设置不透明级别
.sidebar {
  opacity: 0.9;
}

.header-inner {
    border-radius: 30px 30px 30px 30px;
    box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
    background: rgba(255,255,255,0.5);
}
.sidebar-inner{
    border-radius: 30px 30px 30px 30px;
    box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);    
}
.pagination {
    border-radius: 30px 80px 30px 80px;
    box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.main-inner {
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 40px 40px 40px;
}
.post-block{
        background-color: rgba(255, 255, 255, 1);
        margin-bottom: 24px;
        padding: 20px;
        border-radius: 30px 30px 30px 30px;
        box-shadow: 8px 7px 2px 0 rgba(0,0,0,0.12), 7px 4px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
}

.headband{

//去掉顶部黑线
  display:none;
}

.post-footer{

  display:none;
}

//设置footer的大小
.pagination{
  color:#000000;
  font:20px;
  background: #fff;
  border-radius: 15px;
  padding:8px 0 8px;
}

.footer{

  color:#fff;
}

//设置留言框为白色背景
.vwrap{
  background-color:#fff;

}

#valine-comments{

  background-color:#fff;
  padding:8px;
}